In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('brisbane.csv')
df

,AGREED_DATE,START_DATE,TYPE,STATUS,METHOD,CUSTOMER,REFERENCE,PAYMENT_REQUEST,NEXT_PAYMENT,NEXT_PAYMENT_ON,LAST_PAYMENT,LAST_PAYMENT_ON,CANCEL_DATE,COMMENCEMENT_DATE,COMPLETION_DATE,TOTAL_VALUE,PAID,REMAINING,AGREEMENT_ID
0,2022-04-19,2022-04-22,Recurring,Cancelled,Visa,Rin Dwyer,NaN,f96ped5g25ds,0.0,NaN,79.0,2022-07-29,2022-07-30,2022-04-22,2022-07-29,1185.00,1185.00,0.0,6a0ab7cb-32b4-4c3b-9592-adad7295e9eb
1,2022-04-19,2022-04-20,Recurring,Cancelled,Mastercard,Sophia Fisher,NaN,86krl6ylpx17,0.0,NaN,28.0,2022-05-04,2022-05-08,2022-04-20,2022-05-04,84.00,84.00,0.0,114f42ca-83c5-4856-b3e1-9002cef168ea
2,2022-04-19,2022-04-20,Recurring,Active,Visa,Michael Wawrzyniak,NaN,qcot98d2a4mg,220.0,2024-08-23,220.0,2024-08-16,NaN,2022-04-22,2024-11-01,29063.75,26643.75,2420.0,011bf6a4-7a39-46a6-8302-ee884114950c
3,2022-04-20,2022-04-21,Recurring,Cancelled,Mastercard,Declan McMenz,NaN,u9man5uyxb1v,0.0,NaN,28.0,2022-07-28,2022-07-29,2022-04-21,2022-07-28,364.00,364.00,0.0,4940733b-e70a-480d-b998-45270d976958
4,2022-04-20,2022-04-21,Recurring,Cancelled,Visa,Elisha Low,NaN,1b11aveotrax,0.0,NaN,28.0,2022-07-28,2022-07-29,2022-04-21,2022-07-28,420.00,420.00,0.0,1b5f66cf-7c16-44b1-9e85-fa0917031f77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,2024-08-02,2024-08-02,Recurring,Active,Visa,Nat Dutton,STANDARD membership,pDubSsD8zxOAqV,35.0,2024-08-23,35.0,2024-08-16,NaN,2024-08-02,2024-11-01,490.00,105.00,385.0,32d7c802-5076-11ef-b64f-5a41d36501c6
315,2024-08-02,2024-07-29,Recurring,Active,Visa,Boyco Boychev,NaN,Vugr3CuxPRmrHi,99.0,2024-08-26,99.0,2024-08-19,NaN,2024-07-29,2024-11-11,1386.00,198.00,1188.0,930b3ce8-4a24-11ef-ac2b-7a6ce5c4beb9
316,2024-08-10,2024-08-10,Recurring,Active,Visa,Weijin Tan,STANDARD membership,if2YumzmW9Ghcy,35.0,2024-08-24,35.0,2024-08-17,NaN,2024-08-10,2024-11-02,455.00,70.00,385.0,52cac3c4-56ae-11ef-81ba-2672e851c22d
317,2024-08-14,2024-08-12,Recurring,Active,Visa,Harry Breen-Howley,STANDARD membership,4cglt4gSY6uoih,35.0,2024-08-20,35.0,2024-08-12,NaN,2024-08-12,2024-10-28,420.00,35.00,385.0,797b0b3a-586d-11ef-aed0-16edd30aad39
318,2024-08-14,2024-08-19,Recurring,Active,Visa,Jessica Riddell,NaN,fYVQIX6hdhLXrX,35.0,2024-08-26,35.0,2024-08-19,NaN,2024-08-19,2024-11-04,420.00,35.00,385.0,a5d80b70-59f2-11ef-99db-5e2abea2232b

In [8]:
filtered_df = df[~df['STATUS'].isin(['Cancelled', 'Paused', 'One-off', 'Fixed'])]
filtered_df

,AGREED_DATE,START_DATE,TYPE,STATUS,METHOD,CUSTOMER,REFERENCE,PAYMENT_REQUEST,NEXT_PAYMENT,NEXT_PAYMENT_ON,LAST_PAYMENT,LAST_PAYMENT_ON,CANCEL_DATE,COMMENCEMENT_DATE,COMPLETION_DATE,TOTAL_VALUE,PAID,REMAINING,AGREEMENT_ID
2,2022-04-19,2022-04-20,Recurring,Active,Visa,Michael Wawrzyniak,NaN,qcot98d2a4mg,220.0,2024-08-23,220.0,2024-08-16,NaN,2022-04-22,2024-11-01,29063.75,26643.75,2420.0,011bf6a4-7a39-46a6-8302-ee884114950c
13,2022-05-03,2022-05-03,Recurring,Active,Visa,Layne Hall,NaN,mrea1xj51a5v,35.0,2024-08-20,35.0,2024-08-13,NaN,2022-05-03,2024-10-29,4585.00,4200.00,385.0,000ae09c-6030-4929-b918-60225fab89b3
16,2022-05-08,2022-05-09,Recurring,Active,Mastercard,Sophia Fisher,NaN,o7dg6wa81ur6,166.0,2024-08-21,166.0,2024-08-07,NaN,2022-05-11,2025-01-08,11703.00,9877.00,1826.0,8d7fa6ac-de25-4909-b296-fd022f96f344
18,2022-05-08,2022-05-09,Recurring,Active,Mastercard,Kurt McCormick,NaN,kftz3frjatxm,35.0,2024-09-02,35.0,2024-08-19,NaN,2022-05-09,2024-11-18,4375.00,3955.00,420.0,2523fe4b-ddc6-499d-9999-0b0dbd91b181
26,2022-05-15,2022-05-12,Recurring,Active,Mastercard,Bailey Ballangarry,NaN,o4isfezlxw5f,35.0,2024-08-22,35.0,2024-08-15,NaN,2022-05-12,2024-10-31,4445.00,4060.00,385.0,e8a90959-d37d-458f-b927-66b411b6e689
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,2024-08-02,2024-08-02,Recurring,Active,Visa,Nat Dutton,STANDARD membership,pDubSsD8zxOAqV,35.0,2024-08-23,35.0,2024-08-16,NaN,2024-08-02,2024-11-01,490.00,105.00,385.0,32d7c802-5076-11ef-b64f-5a41d36501c6
315,2024-08-02,2024-07-29,Recurring,Active,Visa,Boyco Boychev,NaN,Vugr3CuxPRmrHi,99.0,2024-08-26,99.0,2024-08-19,NaN,2024-07-29,2024-11-11,1386.00,198.00,1188.0,930b3ce8-4a24-11ef-ac2b-7a6ce5c4beb9
316,2024-08-10,2024-08-10,Recurring,Active,Visa,Weijin Tan,STANDARD membership,if2YumzmW9Ghcy,35.0,2024-08-24,35.0,2024-08-17,NaN,2024-08-10,2024-11-02,455.00,70.00,385.0,52cac3c4-56ae-11ef-81ba-2672e851c22d
317,2024-08-14,2024-08-12,Recurring,Active,Visa,Harry Breen-Howley,STANDARD membership,4cglt4gSY6uoih,35.0,2024-08-20,35.0,2024-08-12,NaN,2024-08-12,2024-10-28,420.00,35.00,385.0,797b0b3a-586d-11ef-aed0-16edd30aad39
318,2024-08-14,2024-08-19,Recurring,Active,Visa,Jessica Riddell,NaN,fYVQIX6hdhLXrX,35.0,2024-08-26,35.0,2024-08-19,NaN,2024-08-19,2024-11-04,420.00,35.00,385.0,a5d80b70-59f2-11ef-99db-5e2abea2232b

In [9]:
result_df = filtered_df.groupby('CUSTOMER')[['NEXT_PAYMENT', 'LAST_PAYMENT', 'TOTAL_VALUE', 'PAID', 'REMAINING']].sum()
result_df

                 NEXT_PAYMENT  LAST_PAYMENT  TOTAL_VALUE    PAID  REMAINING
CUSTOMER
Abby  Burnett           105.0         105.0       5565.0  4410.0     1155.0
Adelaide Walker          30.0          30.0       3150.0  2790.0      360.0
Andrew Hunter            35.0          35.0        700.0   315.0      385.0
Andrew Webster           35.0          35.0       3220.0  2835.0      385.0
Arthur Magisson          35.0          35.0        735.0   350.0      385.0
...                       ...           ...          ...     ...        ...
William  Bennet          35.0          35.0       3990.0  3395.0      595.0
William Wallace          35.0          35.0       4095.0  3710.0      385.0
Willis Goodwin           35.0          35.0       2380.0  1995.0      385.0
Yuki Yamakura            35.0          35.0        525.0   140.0      385.0
Zoe Bailey               35.0          35.0       1190.0   805.0      385.0

[121 rows x 5 columns]

In [10]:
result_df.index.nunique()

121

In [11]:
with pd.ExcelWriter('brisbane.xlsx') as writer:
    df.to_excel(writer, sheet_name='Raw Data')
    filtered_df.to_excel(writer, sheet_name='Number of transactions')
    result_df.to_excel(writer, sheet_name='Unique Members')