In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('southside.csv')
df

,AGREED_DATE,START_DATE,TYPE,STATUS,METHOD,CUSTOMER,REFERENCE,PAYMENT_REQUEST,NEXT_PAYMENT,NEXT_PAYMENT_ON,LAST_PAYMENT,LAST_PAYMENT_ON,CANCEL_DATE,COMMENCEMENT_DATE,COMPLETION_DATE,TOTAL_VALUE,PAID,REMAINING,AGREEMENT_ID
0,2020-02-03,2020-02-03,Recurring,Cancelled,DE Debit,Danita Keast,NaN,r43r85ifoptx,0.0,NaN,220.0,2020-03-23,2020-06-08,2020-02-03,2020-03-23,1760.0,1760.0,0.0,11ac754a-a280-46fa-b18a-7bec6d56fd1a
1,2020-02-03,2020-02-03,Recurring,Cancelled,DE Debit,Moana Moore,NaN,shwxdekbn5t1,0.0,NaN,65.0,2020-02-03,2020-03-02,2020-02-03,2020-02-03,65.0,65.0,0.0,3df550f0-087f-4c6d-9572-f77c01a78eba
2,2020-02-03,2020-02-03,Recurring,Cancelled,DE Debit,Lucy Playle,NaN,she634oktz2a,0.0,NaN,220.0,2021-10-11,2021-10-13,2020-02-03,2021-10-11,16500.0,16500.0,0.0,9490f639-e93b-4ebc-8b59-ef1580db3f82
3,2020-02-04,2020-02-04,Recurring,Cancelled,DE Debit,Deb Jones,NaN,w1k5ydy8gbkx,0.0,NaN,220.0,2020-03-24,2020-03-24,2020-02-04,2020-03-24,1540.0,1540.0,0.0,1278fa22-ea5f-48bf-a92e-fcb649336ff4
4,2020-02-04,2020-02-04,Recurring,Cancelled,DE Debit,daniel morrison,NaN,73ckweq3km16,0.0,NaN,30.0,2020-12-01,2020-12-01,2020-02-04,2020-12-01,1320.0,1320.0,0.0,d27c60d9-df39-42cd-be2c-d06b47ca3379
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,2024-08-07,2024-08-19,Recurring,Active,Visa,Hayley Salter,NaN,3Lt5h0VPxcQ0ii,70.0,2024-09-02,70.0,2024-08-19,NaN,2024-08-19,2025-01-20,840.0,70.0,770.0,a600a4d2-5474-11ef-8c11-223cd74177fe
590,2024-08-10,2024-08-12,Recurring,Active,Visa,Dani Clinton,NaN,SKJ5TAltsHLdkO,35.0,2024-08-26,35.0,2024-08-19,NaN,2024-08-12,2024-11-04,455.0,70.0,385.0,40ce3094-55f4-11ef-9192-16c1f6122dec
591,2024-08-11,2024-08-09,Recurring,Active,Visa,Leonard Case,NaN,wJwVXGsNuv1TsF,35.0,2024-08-23,35.0,2024-08-16,NaN,2024-08-09,2024-11-01,455.0,70.0,385.0,b9c5f542-55f7-11ef-975b-5648feacb34c
592,2024-08-16,2024-08-16,Recurring,Active,Mastercard,Ray Ward,NaN,b578MwxhAOq6I4,99.0,2024-08-23,99.0,2024-08-16,NaN,2024-08-16,2024-11-01,1188.0,99.0,1089.0,16e0a654-5ba3-11ef-a5ad-16edd30aad39
593,2024-08-18,2024-08-18,Recurring,Active,Mastercard,Mark Santiago,NaN,MnDLQSlU03HtHu,35.0,2024-09-01,35.0,2024-08-25,NaN,2024-08-18,2024-11-03,385.0,35.0,350.0,bbee59be-5cf9-11ef-a835-5e2abea2232b

In [20]:
filtered_df = df[~df['STATUS'].isin(['Cancelled', 'Paused'])]
filtered_df

,AGREED_DATE,START_DATE,TYPE,STATUS,METHOD,CUSTOMER,REFERENCE,PAYMENT_REQUEST,NEXT_PAYMENT,NEXT_PAYMENT_ON,LAST_PAYMENT,LAST_PAYMENT_ON,CANCEL_DATE,COMMENCEMENT_DATE,COMPLETION_DATE,TOTAL_VALUE,PAID,REMAINING,AGREEMENT_ID
44,2020-06-11,2020-06-10,Recurring,Active,Visa,Royden Young,NaN,shc1ygfmmpas,35.0,2024-08-26,35.0,2024-08-19,NaN,2020-06-10,2024-11-04,7490.0,7105.0,385.0,539b0cf4-2cae-4b2d-ae52-5beb74940415
73,2020-08-17,2020-08-24,Recurring,Active,Mastercard,Liz Johnson,NaN,13cif7kgdl6c,125.0,2024-09-08,125.0,2024-08-08,NaN,2020-08-24,2025-07-08,7250.0,5875.0,1375.0,4992eba9-a660-441c-95a7-23ca12c89efd
75,2020-08-21,2020-08-21,Recurring,Active,Mastercard,Lee Stanton,NaN,oucxe8o3oho0,35.0,2024-08-23,35.0,2024-08-16,NaN,2020-08-21,2024-11-01,7700.0,7315.0,385.0,8c686353-6717-47b6-a722-aa756ca7f769
80,2020-09-04,2020-09-04,One-off,Complete,DE Debit,Amanda Watson,NaN,7ri3fcmcwoqu,0.0,NaN,160.0,2020-09-04,NaN,2020-09-04,2020-09-04,160.0,160.0,0.0,52cd5b87-1cec-45bf-b66a-84fa2a141fe9
82,2020-09-11,2020-09-18,Recurring,Active,Mastercard,Lem Lobhoy,NaN,7riat6fq1mlu,25.0,2024-08-26,25.0,2024-08-19,NaN,2020-09-18,2024-11-04,5200.0,4925.0,275.0,ce4159cb-fd27-4cf7-9756-c1af7f5f3acb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,2024-08-07,2024-08-19,Recurring,Active,Visa,Hayley Salter,NaN,3Lt5h0VPxcQ0ii,70.0,2024-09-02,70.0,2024-08-19,NaN,2024-08-19,2025-01-20,840.0,70.0,770.0,a600a4d2-5474-11ef-8c11-223cd74177fe
590,2024-08-10,2024-08-12,Recurring,Active,Visa,Dani Clinton,NaN,SKJ5TAltsHLdkO,35.0,2024-08-26,35.0,2024-08-19,NaN,2024-08-12,2024-11-04,455.0,70.0,385.0,40ce3094-55f4-11ef-9192-16c1f6122dec
591,2024-08-11,2024-08-09,Recurring,Active,Visa,Leonard Case,NaN,wJwVXGsNuv1TsF,35.0,2024-08-23,35.0,2024-08-16,NaN,2024-08-09,2024-11-01,455.0,70.0,385.0,b9c5f542-55f7-11ef-975b-5648feacb34c
592,2024-08-16,2024-08-16,Recurring,Active,Mastercard,Ray Ward,NaN,b578MwxhAOq6I4,99.0,2024-08-23,99.0,2024-08-16,NaN,2024-08-16,2024-11-01,1188.0,99.0,1089.0,16e0a654-5ba3-11ef-a5ad-16edd30aad39
593,2024-08-18,2024-08-18,Recurring,Active,Mastercard,Mark Santiago,NaN,MnDLQSlU03HtHu,35.0,2024-09-01,35.0,2024-08-25,NaN,2024-08-18,2024-11-03,385.0,35.0,350.0,bbee59be-5cf9-11ef-a835-5e2abea2232b

In [21]:
filtered_df = filtered_df[~filtered_df['TYPE'].isin(['One-off', 'Fixed'])]
filtered_df

,AGREED_DATE,START_DATE,TYPE,STATUS,METHOD,CUSTOMER,REFERENCE,PAYMENT_REQUEST,NEXT_PAYMENT,NEXT_PAYMENT_ON,LAST_PAYMENT,LAST_PAYMENT_ON,CANCEL_DATE,COMMENCEMENT_DATE,COMPLETION_DATE,TOTAL_VALUE,PAID,REMAINING,AGREEMENT_ID
44,2020-06-11,2020-06-10,Recurring,Active,Visa,Royden Young,NaN,shc1ygfmmpas,35.0,2024-08-26,35.0,2024-08-19,NaN,2020-06-10,2024-11-04,7490.0,7105.0,385.0,539b0cf4-2cae-4b2d-ae52-5beb74940415
73,2020-08-17,2020-08-24,Recurring,Active,Mastercard,Liz Johnson,NaN,13cif7kgdl6c,125.0,2024-09-08,125.0,2024-08-08,NaN,2020-08-24,2025-07-08,7250.0,5875.0,1375.0,4992eba9-a660-441c-95a7-23ca12c89efd
75,2020-08-21,2020-08-21,Recurring,Active,Mastercard,Lee Stanton,NaN,oucxe8o3oho0,35.0,2024-08-23,35.0,2024-08-16,NaN,2020-08-21,2024-11-01,7700.0,7315.0,385.0,8c686353-6717-47b6-a722-aa756ca7f769
82,2020-09-11,2020-09-18,Recurring,Active,Mastercard,Lem Lobhoy,NaN,7riat6fq1mlu,25.0,2024-08-26,25.0,2024-08-19,NaN,2020-09-18,2024-11-04,5200.0,4925.0,275.0,ce4159cb-fd27-4cf7-9756-c1af7f5f3acb
86,2020-09-29,2020-09-29,Recurring,Active,Mastercard,Ryan Symons,NaN,l36qd519zmws,25.0,2024-08-20,25.0,2024-08-13,NaN,2020-09-29,2024-10-29,5350.0,5075.0,275.0,a16242cc-ad16-412d-a1f6-9c0ef284a6d7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,2024-08-07,2024-08-19,Recurring,Active,Visa,Hayley Salter,NaN,3Lt5h0VPxcQ0ii,70.0,2024-09-02,70.0,2024-08-19,NaN,2024-08-19,2025-01-20,840.0,70.0,770.0,a600a4d2-5474-11ef-8c11-223cd74177fe
590,2024-08-10,2024-08-12,Recurring,Active,Visa,Dani Clinton,NaN,SKJ5TAltsHLdkO,35.0,2024-08-26,35.0,2024-08-19,NaN,2024-08-12,2024-11-04,455.0,70.0,385.0,40ce3094-55f4-11ef-9192-16c1f6122dec
591,2024-08-11,2024-08-09,Recurring,Active,Visa,Leonard Case,NaN,wJwVXGsNuv1TsF,35.0,2024-08-23,35.0,2024-08-16,NaN,2024-08-09,2024-11-01,455.0,70.0,385.0,b9c5f542-55f7-11ef-975b-5648feacb34c
592,2024-08-16,2024-08-16,Recurring,Active,Mastercard,Ray Ward,NaN,b578MwxhAOq6I4,99.0,2024-08-23,99.0,2024-08-16,NaN,2024-08-16,2024-11-01,1188.0,99.0,1089.0,16e0a654-5ba3-11ef-a5ad-16edd30aad39
593,2024-08-18,2024-08-18,Recurring,Active,Mastercard,Mark Santiago,NaN,MnDLQSlU03HtHu,35.0,2024-09-01,35.0,2024-08-25,NaN,2024-08-18,2024-11-03,385.0,35.0,350.0,bbee59be-5cf9-11ef-a835-5e2abea2232b

In [22]:
result_df = filtered_df.groupby('CUSTOMER')[['NEXT_PAYMENT', 'LAST_PAYMENT', 'TOTAL_VALUE', 'PAID', 'REMAINING']].sum()
result_df

                 NEXT_PAYMENT  LAST_PAYMENT  TOTAL_VALUE    PAID  REMAINING
CUSTOMER
Adam Fittler             35.0          35.0       1505.0  1120.0      385.0
Adam Rand                35.0          35.0        805.0   420.0      385.0
Adrian Carroll           25.0          25.0       4650.0  4375.0      275.0
Amanda  McEvoy          300.0         300.0       5700.0  2400.0     3300.0
Amber Clifford           35.0          35.0        910.0   525.0      385.0
...                       ...           ...          ...     ...        ...
Yeon  Woo                35.0          35.0        665.0   280.0      385.0
bradley read             35.0          35.0       1715.0  1330.0      385.0
egor  baranov            35.0          35.0       2170.0  1785.0      385.0
jonty gabriel            35.0          35.0        490.0   105.0      385.0
laura jones             150.0         150.0       3750.0  2100.0     1650.0

[118 rows x 5 columns]

In [23]:
result_df.index.nunique()

118

In [24]:
result_df.toexcel('southside.xlsx')

AttributeError: 'DataFrame' object has no attribute 'toexcel'