In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('southside.csv')
df

,AGREED_DATE,START_DATE,TYPE,STATUS,METHOD,CUSTOMER,REFERENCE,PAYMENT_REQUEST,NEXT_PAYMENT,NEXT_PAYMENT_ON,LAST_PAYMENT,LAST_PAYMENT_ON,CANCEL_DATE,COMMENCEMENT_DATE,COMPLETION_DATE,TOTAL_VALUE,PAID,REMAINING,AGREEMENT_ID
0,2020-02-03,2020-02-03,Recurring,Cancelled,DE Debit,Danita Keast,NaN,r43r85ifoptx,0.0,NaN,220.0,2020-03-23,2020-06-08,2020-02-03,2020-03-23,1760.0,1760.0,0.0,11ac754a-a280-46fa-b18a-7bec6d56fd1a
1,2020-02-03,2020-02-03,Recurring,Cancelled,DE Debit,Moana Moore,NaN,shwxdekbn5t1,0.0,NaN,65.0,2020-02-03,2020-03-02,2020-02-03,2020-02-03,65.0,65.0,0.0,3df550f0-087f-4c6d-9572-f77c01a78eba
2,2020-02-03,2020-02-03,Recurring,Cancelled,DE Debit,Lucy Playle,NaN,she634oktz2a,0.0,NaN,220.0,2021-10-11,2021-10-13,2020-02-03,2021-10-11,16500.0,16500.0,0.0,9490f639-e93b-4ebc-8b59-ef1580db3f82
3,2020-02-04,2020-02-04,Recurring,Cancelled,DE Debit,Deb Jones,NaN,w1k5ydy8gbkx,0.0,NaN,220.0,2020-03-24,2020-03-24,2020-02-04,2020-03-24,1540.0,1540.0,0.0,1278fa22-ea5f-48bf-a92e-fcb649336ff4
4,2020-02-04,2020-02-04,Recurring,Cancelled,DE Debit,daniel morrison,NaN,73ckweq3km16,0.0,NaN,30.0,2020-12-01,2020-12-01,2020-02-04,2020-12-01,1320.0,1320.0,0.0,d27c60d9-df39-42cd-be2c-d06b47ca3379
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,2024-08-16,2024-08-16,Recurring,Active,Mastercard,Ray Ward,NaN,b578MwxhAOq6I4,99.0,2024-08-30,99.0,2024-08-23,NaN,2024-08-16,2024-11-08,1287.0,198.0,1089.0,16e0a654-5ba3-11ef-a5ad-16edd30aad39
593,2024-08-18,2024-08-18,Recurring,Active,Mastercard,Mark Santiago,NaN,MnDLQSlU03HtHu,35.0,2024-09-01,35.0,2024-08-25,NaN,2024-08-18,2024-11-03,385.0,35.0,350.0,bbee59be-5cf9-11ef-a835-5e2abea2232b
594,2024-08-19,2024-08-19,Recurring,Active,Visa,Richard dunks,NaN,N6GgWNpDaPWyQ2,64.0,2024-09-02,64.0,2024-08-26,NaN,2024-08-19,2024-11-11,832.0,128.0,704.0,0d46804a-5dd4-11ef-bbf0-2efef2dfb10f
595,2024-08-19,2024-08-28,Recurring,In Transit,Mastercard,Natasha Lindsey,NaN,Nto0sjigLYbgf0,99.0,2024-08-28,0.0,NaN,NaN,2024-08-28,2024-11-13,1188.0,0.0,1188.0,8f026194-5dd9-11ef-8ec2-7a69f67e325b
596,2024-08-19,2024-08-19,Recurring,Active,Visa,Neil Smith,NaN,9Bwebh4q4uaUTf,35.0,2024-09-02,35.0,2024-08-26,NaN,2024-08-19,2024-11-11,455.0,70.0,385.0,6a87f340-5def-11ef-82de-2efef2dfb10f

### filter out 'Cancelled', 'Paused', 'One-off', 'Fixed' from 'STATUS'

In [3]:
filtered_df = df[~df['STATUS'].isin(['Cancelled', 'Paused', 'One-off', 'Fixed'])]
filtered_df

,AGREED_DATE,START_DATE,TYPE,STATUS,METHOD,CUSTOMER,REFERENCE,PAYMENT_REQUEST,NEXT_PAYMENT,NEXT_PAYMENT_ON,LAST_PAYMENT,LAST_PAYMENT_ON,CANCEL_DATE,COMMENCEMENT_DATE,COMPLETION_DATE,TOTAL_VALUE,PAID,REMAINING,AGREEMENT_ID
73,2020-08-17,2020-08-24,Recurring,Active,Mastercard,Liz Johnson,NaN,13cif7kgdl6c,125.0,2024-09-08,125.0,2024-08-08,NaN,2020-08-24,2025-07-08,7250.0,5875.0,1375.0,4992eba9-a660-441c-95a7-23ca12c89efd
75,2020-08-21,2020-08-21,Recurring,Active,Mastercard,Lee Stanton,NaN,oucxe8o3oho0,35.0,2024-08-30,35.0,2024-08-23,NaN,2020-08-21,2024-11-08,7735.0,7350.0,385.0,8c686353-6717-47b6-a722-aa756ca7f769
80,2020-09-04,2020-09-04,One-off,Complete,DE Debit,Amanda Watson,NaN,7ri3fcmcwoqu,0.0,NaN,160.0,2020-09-04,NaN,2020-09-04,2020-09-04,160.0,160.0,0.0,52cd5b87-1cec-45bf-b66a-84fa2a141fe9
82,2020-09-11,2020-09-18,Recurring,Active,Mastercard,Lem Lobhoy,NaN,7riat6fq1mlu,25.0,2024-09-02,25.0,2024-08-26,NaN,2020-09-18,2024-11-11,5225.0,4950.0,275.0,ce4159cb-fd27-4cf7-9756-c1af7f5f3acb
86,2020-09-29,2020-09-29,Recurring,Active,Mastercard,Ryan Symons,NaN,l36qd519zmws,25.0,2024-09-03,25.0,2024-08-27,NaN,2020-09-29,2024-11-12,5400.0,5125.0,275.0,a16242cc-ad16-412d-a1f6-9c0ef284a6d7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,2024-08-16,2024-08-16,Recurring,Active,Mastercard,Ray Ward,NaN,b578MwxhAOq6I4,99.0,2024-08-30,99.0,2024-08-23,NaN,2024-08-16,2024-11-08,1287.0,198.0,1089.0,16e0a654-5ba3-11ef-a5ad-16edd30aad39
593,2024-08-18,2024-08-18,Recurring,Active,Mastercard,Mark Santiago,NaN,MnDLQSlU03HtHu,35.0,2024-09-01,35.0,2024-08-25,NaN,2024-08-18,2024-11-03,385.0,35.0,350.0,bbee59be-5cf9-11ef-a835-5e2abea2232b
594,2024-08-19,2024-08-19,Recurring,Active,Visa,Richard dunks,NaN,N6GgWNpDaPWyQ2,64.0,2024-09-02,64.0,2024-08-26,NaN,2024-08-19,2024-11-11,832.0,128.0,704.0,0d46804a-5dd4-11ef-bbf0-2efef2dfb10f
595,2024-08-19,2024-08-28,Recurring,In Transit,Mastercard,Natasha Lindsey,NaN,Nto0sjigLYbgf0,99.0,2024-08-28,0.0,NaN,NaN,2024-08-28,2024-11-13,1188.0,0.0,1188.0,8f026194-5dd9-11ef-8ec2-7a69f67e325b
596,2024-08-19,2024-08-19,Recurring,Active,Visa,Neil Smith,NaN,9Bwebh4q4uaUTf,35.0,2024-09-02,35.0,2024-08-26,NaN,2024-08-19,2024-11-11,455.0,70.0,385.0,6a87f340-5def-11ef-82de-2efef2dfb10f

### group by 'CUSTOMER' and sum 'NEXT_PAYMENT', 'LAST_PAYMENT', 'TOTAL_VALUE', 'PAID', 'REMAINING'

In [5]:
groupby_df = filtered_df.groupby('CUSTOMER')[['NEXT_PAYMENT', 'LAST_PAYMENT', 'TOTAL_VALUE', 'PAID', 'REMAINING']].sum()
groupby_df

                 NEXT_PAYMENT  LAST_PAYMENT  TOTAL_VALUE    PAID  REMAINING
CUSTOMER
Adam Fittler             35.0          35.0       1540.0  1155.0      385.0
Adam Rand                35.0          35.0        840.0   455.0      385.0
Adrian Carroll           25.0          25.0       4675.0  4400.0      275.0
Amanda  McEvoy          300.0         300.0       5700.0  2400.0     3300.0
Amber Clifford           35.0          35.0        945.0   560.0      385.0
...                       ...           ...          ...     ...        ...
Yeon  Woo                35.0          35.0        735.0   315.0      420.0
bradley read             35.0          35.0       1750.0  1365.0      385.0
egor  baranov            35.0          35.0       2240.0  1855.0      385.0
jonty gabriel            35.0          35.0        525.0   140.0      385.0
laura jones             150.0         150.0       3750.0  2100.0     1650.0

[115 rows x 5 columns]

In [6]:
groupby_df.index.nunique()

115

In [8]:
with pd.ExcelWriter('southside.xlsx') as writer:
    df.to_excel(writer, sheet_name='original')
    filtered_df.to_excel(writer, sheet_name='filtered')
    groupby_df.to_excel(writer, sheet_name='groupby')